/* Fondo */
body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0,0,0,0.3);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
#hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass effect */
.glass {
    background: rgba(17, 16, 16, 0.2);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0,0,0,0.2);
}

/* ABOUT */
#about {
    padding: 40px;
    display: flex;
    justify-content: center;
}

/* PERSONAJES */
#personajes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    width: 200px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.3);
}

button {
    display: block;
    margin: 20px auto;
    background: #ff7b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#hero h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
    




